*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5vw;
}
.frontPageContainer{
    background-color: rgb(237, 237, 79);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frontPageContainer button{
    height: 10vw;
    width: 10vw;
    background-color: black;
    color: white;
    font-size: 2vw;
    border-radius: 6px;
}
.secondPageContainer{
    border: 3px solid red;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.secondPageContainer p {
    position: absolute;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    background-color: rgb(45, 45, 90);
    color: white;
    width: 4vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}
.secondPageContainer button {
    width: 15vw;
    height: 10vw;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*                               statistics styles                                    */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.statisticMainContainer{
    width: 100%;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 4vw;
    gap: 1vw;
    background-color: black;
}
.backButton{
    position: absolute;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    background-color: rgb(45, 45, 90);
    color: white;
    width: 4vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
  
}
.infoabout{
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont{
    display: flex;
    height: 30%;
    align-items: center;
    gap: 1vw;
    cursor: pointer;

}
.cont div{
    height: 100%;
    width: 3vw;
    border-radius: 50%;
}
.cont p {
    color: white;
}
.dayContainer{
    height: 2vw;
    width: 90%;
    background-color: rgb(214, 213, 213);
    display: grid;
    grid-template-columns: repeat(1440,1fr);
}
.sleep{
    background-color: green;
}
.work{
    background-color: rgb(101, 94, 101);
}
.learnEnglish{
    background-color: rgb(133, 133, 161);
    overflow: hidden;
}
.javaScript{
    background-color: greenyellow;
    overflow: hidden;
}
.react{
    background: rgb(229, 45, 45);
    overflow: hidden;
}
.justSleap{
    background-color: green;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*                               TimeMoney styles                                    */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.goalContainer{
    height: 2vw;
    width: 90%;
    display: flex;
}
.dateContainer{
height: 100%;
width: 9%;
background-color: hsl(222, 55%, 47%);
color: white;
cursor: pointer;
}
.progressContainer{
height: 100%;
width: 88.7%;
display: flex;
background-color: rgb(8, 106, 29);
}
.timeInfoabove{
    height: 4vw;
    width: 100%;
    padding-bottom: 2vw;
    padding-top: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conElem{
    display: flex;
    cursor: pointer;
    gap: 1vw;
    justify-content: center;
    align-items: center;

}
.conElem p{
    color: white;
    font-size: 3vw;
}
.conElem div{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.justHours{
    height: 100%;
    width: 2vw;
    background-color: aliceblue;
}
.hoursLong{
    height: 100%;
    width: 30%;
    background-color: rgb(108, 108, 221);
    color: white;
    
}
.incomeDiv{
height: 100%;
background-color: red;
}
.outcomeBox{
    height: 100%;
    min-width: 2%;
    background-color: red;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*                                  Society styles                                    */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.goalWindow{
    height: 13vw;
    width: 90%;
    background-color: rgb(133, 133, 197);
    display:  grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(5,1fr);
}
.progressContainer{
    grid-column: 3/21;
    grid-row: 4/5;
    background-color: black;
}
.goalWindow p{
 grid-row: 1/2;
 grid-column: 1/21;
 color: rgb(248, 246, 246);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 3vw;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/